*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 90vh;
}
div{
    height: 100px;
    background-color: gray;
    border: black solid 2px;
    border-radius: 10px;
    text-align: center;
    font-size: medium;
}

header div, footer div {
    width: 100%;
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px 20px;
    margin: 0px 10px;
}

.item4 {
    grid-column: 1/4;
}
.item5 {
    grid-column: 1/3;
}
